<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.language">

    <!-- Фичи для TV и мобильных устройств -->
    <uses-feature android:name="android.software.leanback" android:required="false" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:banner="@android:color/transparent"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Language"
        tools:targetApi="31">

        <!-- Главная активность -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Language">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Все остальные активности с единой темой -->
        <activity
            android:name=".PlayersActivity"
            android:exported="true"
            android:theme="@style/Theme.Language" />

        <activity
            android:name=".ChooseLanguageActivity"
            android:exported="true"
            android:theme="@style/Theme.Language" />

        <activity
            android:name=".ChooseSetActivity"
            android:exported="true"
            android:theme="@style/Theme.Language" />

        <activity
            android:name=".ChooseTimerActivity"
            android:exported="true"
            android:theme="@style/Theme.Language" />

        <activity
            android:name=".PlayActivity"
            android:exported="true"
            android:theme="@style/Theme.Language" />

        <activity
            android:name=".Result_activity"
            android:exported="true"
            android:theme="@style/Theme.Language" />

        <activity
            android:name=".CommandResAct"
            android:exported="true"
            android:theme="@style/Theme.Language" />

        <activity
            android:name=".My_set_activity"
            android:exported="true"
            android:theme="@style/Theme.Language" />

        <activity
            android:name=".RulesActivity"
            android:exported="true"
            android:theme="@style/Theme.Language" />

        <activity
            android:name=".SettingsActivity"
            android:exported="true"
            android:theme="@style/Theme.Language" />

    </application>
</manifest>